:root {
    --primary-color: #001F4B;
    --secondary-color: #EBFF4C;
    --dark-900: #000409;
    --dark-700: #4D4F52;
    --dark-500: #808183;
    --dark-300: #B3B4B5;
    --dark-100: #E6E6E6;
    --dark-50: #F2F2F3;
    --bg-dark: #000408;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: aliceblue;
    text-decoration: none;
    justify-content: center;
    align-items: center;
    position: relative;
    font-family: 'Raleway';
}

Body{
    background-color: var(--bg-dark);
}

.navbar {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    padding: 0 4%;
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.2);
    height: 60px;
    z-index: 999;
    background: rgba(0, 4, 8, 0.8);
    backdrop-filter: blur(10px);
}

.navbar-menu ul {
    display: flex;
}

.navbar-menu a{
    display: inline-block;
    margin: 0 0.3rem;
}

.navbar-logo img {
    height: 1.2rem;
    width: auto;
}

.header{
    background-image: 
        linear-gradient(rgb(0, 4, 8), rgba(0, 4, 8,0), rgb(0, 4, 8)),
        url('../Galery/Group\ 31.png');
    background-repeat: repeat;
    padding: 100px 30px 20px;
}

.kanan{
    width: 48%;
}

.kiri{
    width: 52%;
    max-width: 560px;
    display: flex;
    align-items: end;
    gap: 1.5rem;
    flex-direction: column;
}

.header .kanan h1 {
    font-size: 3rem;
    color: var(--dark-50);
    font-weight: 400;
}

.header .kanan b1{
    font-weight: 800;
    color: var(--secondary-color);
}

.header .hbg .flex, .flex3 {
    display: flex;
    justify-content: space-between;
}

.kanan h1{
    padding-bottom: 1.5rem;
    font-weight: 900;
}

.ahmat a, .bawah1 a{
    display: inline-block;
    padding: 0.8rem 1.5rem;
    background-color: var(--secondary-color);
    color: var(--primary-color);
    border-radius: 9999px;
    text-decoration: none;
    font-weight: 500;
}

.B img{
    width: 108px;
    padding-top: 40px;
}

.kiri .lutfi .ahhh{
    display: flex;
    justify-content: end;
    align-items: center;
}

.kiri .lutfi .ahhh img{
    width: 100%;
    justify-content: center;
    pointer-events: none;
}

.wayang1{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    text-align: center;
    width: 100%;
    height: 215px;
}

.wayang .ar1{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    overflow: hidden;
}

.wayang1 .ar1 img{
    width: 100%;
    border-radius: 10px;
    text-align: center;
}

.wayang1 .ar1 p{
    display: inline-block;
    padding: 0.5rem 0;
    background-color: var(--secondary-color);
    color: var(--primary-color);
    border-radius: 0.5rem;
    width: 100%;
    font-weight: 500;
}

.pembatas{
    overflow-y: hidden;
    background-color: var(--dark-700);
}

.pembatas .pembatas1 {
    position: absolute;
    rotate: 5deg;
    width: 99%;
    height: 100px;
    text-align: center;
    padding-top: 40px;
    padding-top: -5px;
    padding-bottom: -5px;
}
.pembatas .pembatas2{
    rotate: -5deg;
    width: 99%;
    height: 100px;
    text-align: center;
    padding-top: 40px;
    padding-top: -5px;
    padding-bottom: -5px;
}

.flex2{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2px;
    padding: 1rem 2% 1rem 2%;
    overflow: hidden;
    width: 100vw;
    height: 90vh;
}

.anomali2, .anomali3, .anomali4, .anomali1{
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    overflow : hidden;
    display: inline;
    gap: 2px;
    height: 90vh;
}

.card1{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    overflow: hidden;
    height: 45vh;
}

.card2{
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    overflow: hidden;
    display: inline;
    height: 45vh;
}

.gambar1{
 height: 50%;
}

.gambar2 img, .gambar3 img, .gambar4, .gambar5, .gambar8, .gambar9, .gambar10{
    width: 100%;
    height: 50%;
}

.gambar6, .gambar7{
    width: 100%;
    height: 25%;
}

/*gambar batik sekat sekat*/
.grid-container {
    padding-left: 2%;
    padding-right: 2%;
    display: grid;
    grid-template-columns: repeat(7, 1fr); /* Membuat 6 kolom dengan ukuran yang sama */
    gap: 10px; /* Jarak antara elemen */
  }
  
  .motif-batik {
    transition: all 5s ease; /* Efek transisi yang halus */
    width: 100%;
    height: 400px;
    overflow: hidden; /* Menghilangkan bagian yang melampaui ukuran */
    display: inline-block;
    border-radius: 10px;
    position: relative;
  }

  .collapse-active {
    grid-column: span 2; /* Membuat elemen meluas menjadi 2 kolom saat hover */
    transform: scale(1); /* Memperbesar gambar sedikit */
}

.overlay{
    position: absolute;
    background-image: linear-gradient(rgba(0, 4, 8,0), rgb(0, 4, 8));
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    opacity: 0%;
}

.motif-batik.collapse-active .overlay{
    opacity: 100%;
}

.motif-batik p{
    position: absolute;
    color: var(--dark-50);
    bottom: 10px;
    left: 10px;
    opacity: 0%;
    z-index: 101;
}

.motif-batik.collapse-active p{
    opacity: 100%;
}

  .bawah1{
    display: flex;
    padding: 10px 10px 10px 10px;
  }
  .bawah1 p{
    width: 50%;
    align-items: flex-start;
  }

  .bawah1 b, .image-card .overlay2 b{
    content: "";
    border-bottom: 1px solid rgba(255, 255, 255, 0.6);
    width: 80%;
    padding-right: 10px;
    display: block;
    margin: 2px auto;
  }

  .bawah1 a{
    width: 17%;
    padding-right: 20px;
    text-align: center;
    border: 2px solid var(--dark-100);
  }
  
.flex3 p{
    width: 50%;
    padding-left: 20%;
}

  .container {
    display: flex;
    gap: 2rem;
}

.image-card {
    position: relative;
    width: 400px; /* Ukuran gambar, dapat diubah sesuai kebutuhan */
    overflow: hidden;
    border-radius: 8px;
}

.image-card img {
    width: 100%;
    height: auto;
    display: block;
    transition: transform 0.3s ease;
}

.image-card:hover img {
    transform: scale(1.1); /* Zoom-in efek saat di hover */
}

.overlay2 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition: opacity 0.3s ease;
}

.image-card:hover .overlay2 {
    opacity: 1; /* Tampilkan overlay saat di hover */
}

.overlay2 h2 {
    color: var(--dark-50);
    font-size: 20px;
    margin-bottom: 20px;
}

.icon {
    font-size: 30px;
    color: var(--dark-50);
}

.karakter{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 20px 20px 10px 20px;
    gap: 1rem;
}

.kar1{
    border-radius: 10px;
    overflow: hidden;
    text-align: center;
    padding: 1rem;
}

.batas-foto{
    overflow: hidden;
    height: 300px;
    width: 100%;
}

.spas{
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    justify-content: space-between;
    padding: 10px;
}

.batas-foto img{
    height: 100%;
    width: auto;
}

.karakter .kar1 a{
    background-color: var(--primary-color);
    padding: 7px;
    border: 2px solid var(--dark-300);
    border-radius: 1rem;
    bottom: 10px;
}

.fungsi-batik{
    padding-left: 2%;
    padding-right: 2%;
    display: flex;
    gap: 16px; /* Jarak antara elemen */
}

.card-fungsibatik{
    width: 300px;
    height: 440px;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.card2-fungsibatik{
    position: absolute;
}

.card-fungsibatik a{
    text-align: center;
    top: 43%;
    display: inline-block;
    padding: 10px;
    background-color: var(--primary-color);
    border: 1px solid var(--dark-300);
    border-radius: 5rem;
}

.card-fungsibatik:hover a{
    text-align: center;
    top: 43%;
    display: inline-block;
    padding: 10px;
    background-color: var(--primary-color);
    border: 1px solid var(--secondary-color);
    border-radius: 5rem;
    background: rgba(0, 0, 0, 0.5);
}

.card-fungsibatik .card2-fungsibatik img{
    height: 400px;
    width: 290px;
    border-radius: 1rem;
}

.flex-categoribatik{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 2%;
    padding-right: 2%;
    gap: 1rem
}

.categori-card{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.categori-card .kata {
    width: 100%;
    padding: 7px;
    background-color: var(--primary-color);
    border-radius: 10px;
    border: 1px solid var(--dark-100);
}

.flex-categoribatik .categori-card img{
    height: 400px;
    width: 100%;
    border-radius: 1rem;
}

@media(max-width: 768px){
body{
    padding-right: 2%;
    padding-left: 2%;
}
.B img{
    width: 70px;
    padding-top: 20px;
}
a{
    font-size: 13px;
}
.batas-foto{
    height: 0;
}
.batas-foto img{
    width: 100%;
    height: auto;
}
.card-fungsibatik .card2-fungsibatik img {
    width: 150px;
    height: 200px;
}
.card-fungsibatik {
    width: 150px;
    height: 200px;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.flex-categoribatik .categori-card img {
    height: 200px;
}
}
@media(max-width: 450px){}