:root {
    --primary-color: #001F4B;
    --secondary-color: #EBFF4C;
    --dark-900: #000409;
    --dark-700: #4D4F52;
    --dark-500: #808183;
    --dark-300: #B3B4B5;
    --dark-100: #E6E6E6;
    --dark-50: #F2F2F3;
    --bg-dark: #000408;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: aliceblue;
    text-decoration: none;
    justify-content: center;
    align-items: center;
    position: relative;
    font-family: 'Raleway';
}

Body{
    background-color: var(--bg-dark);
}

.navbar {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    padding: 0 4%;
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.2);
    height: 70px;
    z-index: 999;
    background: rgba(0, 4, 8, 0.8);
    backdrop-filter: blur(10px);
}

.navbar-menu ul {
    display: flex;
}

.navbar-menu a{
    display: inline-block;
    margin: 0 0.3rem;
}

.navbar-logo img {
    height: 1.2rem;
    width: auto;
}

.header{
    background-image: 
        linear-gradient(rgb(0, 4, 8), rgba(0, 4, 8,0), rgb(0, 4, 8)),
        url('../Galery/Group\ 31.png');
    background-repeat: repeat;
    padding: 100px 30px 20px;
}

.kanan{
    width: 48%;
}

.kiri{
    width: 52%;
    max-width: 560px;
    display: flex;
    align-items: end;
    gap: 1.5rem;
    flex-direction: column;
}

.header .kanan h1 {
    font-size: 3rem;
    color: var(--dark-50);
    font-weight: 400;
}

.header .kanan b1{
    font-weight: 800;
    color: var(--secondary-color);
}

.header .hbg .flex, .flex3 {
    display: flex;
    justify-content: space-between;
}

.kanan h1{
    padding-bottom: 1.5rem;
    font-weight: 900;
}

.ahmat a{
    display: inline-block;
    padding: 0.8rem 1.5rem;
    background-color: var(--secondary-color);
    color: var(--primary-color);
    border-radius: 9999px;
    text-decoration: none;
    font-weight: 500;
}

.B img{
    width: 108px;
    padding-top: 40px;
}

.kiri .lutfi .ahhh{
    display: flex;
    justify-content: end;
    align-items: center;
}

.kiri .lutfi .ahhh img{
    width: 100%;
    justify-content: center;
    pointer-events: none;
}

.wayang1{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    text-align: center;
    width: 100%;
    height: 215px;
}

.wayang .ar1{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    overflow: hidden;
}

.wayang1 .ar1 img{
    width: 100%;
    border-radius: 10px;
    text-align: center;
}

.wayang1 .ar1 p{
    display: inline-block;
    padding: 0.5rem 0;
    background-color: var(--secondary-color);
    color: var(--primary-color);
    border-radius: 0.5rem;
    width: 100%;
    font-weight: 500;
}

.pembatas{
    overflow-y: hidden;
}

.pembatas .pembatas1 {
    position: absolute;
    rotate: 5deg;
    width: 99%;
    height: 100px;
    text-align: center;
    padding-top: 40px;
    padding-top: -5px;
    padding-bottom: -5px;
    background-color: #ebff4c;
}
.pembatas .pembatas2{
    rotate: -5deg;
    width: 99%;
    height: 100px;
    text-align: center;
    padding-top: 40px;
    padding-top: -5px;
    padding-bottom: -5px;
    background-color: #ebff4c;
}

.flex2{
    display: flex;
    flex-direction: row;
    overflow: hidden;
}

.anomali2, .anomali3, .anomali4, .anomali1{
    display: flex;
    flex-direction: column;
    overflow: hidden;
    display: inline;
}

.card1{
    display: flex;
    flex-direction: row;
    overflow: hidden;
    display: inline;
}

.gambar1{
    width: 40%;
}
.gambar2, .gambar3{
    width: 20%;
}

.gambar4,.gambar5{
    width: 50%;
    height: 50%;
}

.gambar7,.gambar8,.gambar6{
    width: 20%;
}

.gambar7,.gambar6{
    height: 25%;
}
.gambar8, .gambar1,.gambar3,.gambar2{
    height: 50%;
}

.gambar9,.gambar10{
    height: 50%;
    width: 20%;
}

.gambar1,.gambar9,.gambar8,.gambar7,.gambar6,.gambar5,.gambar4,.gambar3,.gambar2{
    overflow: hidden;
}


/*gambar batik sekat sekat*/
.grid-container {
    padding-left: 2%;
    display: grid;
    grid-template-columns: repeat(7, 1fr); /* Membuat 6 kolom dengan ukuran yang sama */
    gap: 10px; /* Jarak antara elemen */
  }
  
  .motif-batik {
    transition: all 0.3s ease; /* Efek transisi yang halus */
    width: 100%;
    height: 400px;
    overflow: hidden; /* Menghilangkan bagian yang melampaui ukuran */
    display: inline-block;
    border-radius: 10px;
  }

  .collapse-active {
    grid-column: span 2; /* Membuat elemen meluas menjadi 2 kolom saat hover */
    transform: scale(1); /* Memperbesar gambar sedikit */
  }

  .bawah1{
    display: flex;
    padding: 10px 10px 10px 10px;
  }
  .bawah1 p{
    width: 50%;
    align-items: flex-start;
  }

  .bawah1 b{
    content: "";
    border-bottom: 1px solid rgba(255, 255, 255, 0.6);
    width: 90%;
    display: block;
    margin: 2px auto;
  }

  .bawah1 a{
    width: 17%;
    padding-right: 20px;
    display: flex;
    flex-direction: column-reverse;
    align-items: end;
  }
.storywayang{
    display: flex;
    padding: 10px 10px 10px 10px;
}

.flex3 p{
    width: 50%;
    padding-left: 20%;
}

@media(max-width: 768px){}
@media(max-width: 450px){}