:root {
  --primary-color: #001f4b;
  --secondary-color: #ebff4c;
  --dark-900: #000409;
  --dark-700: #4d4f52;
  --dark-500: #808183;
  --dark-300: #b3b4b5;
  --dark-100: #e6e6e6;
  --dark-50: #f2f2f3;
  --bg-dark: #000408;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  justify-content: center;
  align-items: center;
  position: relative;
  font-family: "Raleway";
  scroll-behavior: smooth;
}

Body {
  background-color: var(--bg-dark);
  background-image: linear-gradient(
      rgb(0, 4, 8),
      rgba(0, 4, 8, 0.5),
      rgba(0, 4, 8, 0.8)
    ),
    url("../Galery/Group\ 31.png");
}

.circle-blur {
  background: rgba(0, 31, 75, 0.2);
  width: 100%;
  height: 600px;
  position: fixed;
  top: 0%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 9999px;
  /* mix-blend-mode: multiply; */
  filter: blur(60px);
}

.navbar {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  padding: 0 4%;
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.2);
  height: 60px;
  z-index: 999;
  background: rgba(0, 4, 8, 0.4);
  backdrop-filter: blur(10px);
}

.navbar-menu ul {
  display: flex;
  gap: 3rem;
  list-style-type: none;
}

.navbar-menu ul li {
  position: relative;
}

.navbar-menu .fa-caret-down {
  color: var(--dark-50);
  position: absolute;
  font-size: 1.4rem;
  top: 2px;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.2s ease-in;
  opacity: 0;
}

.navbar-menu a {
  display: inline-block;
  color: var(--dark-50);
  font-size: 1rem;
  font-weight: 500;
  transition: all 0.2s ease-in;
}

.navbar-menu li:hover a {
  transform: translateY(2px);
  text-decoration: underline;
  color: var(--secondary-color);
}

.navbar-menu li:hover .fa-caret-down {
  top: -8px;
  opacity: 100%;
}

.navbar-logo img {
  height: 1.2rem;
  width: auto;
}

.navbar-icon {
  display: flex;
  flex-direction: column;
  gap: 8px;
  pointer-events: none;
  opacity: 0;
  cursor: pointer;
}

.hamburger-line {
  height: 2px;
  background: var(--dark-50);
  transition: all 0.2s ease-in-out;
  border-radius: 9999px;
}

.hamburger-line:nth-child(1) {
  width: 16px;
  align-self: start;
  transform-origin: bottom;
}

.hamburger-line:nth-child(2) {
  width: 32px;
  transition: all 0.4s ease-in-out;
}

.hamburger-line:nth-child(3) {
  width: 16px;
  transform-origin: bottom;
  align-self: end;
}

.navbar-icon.active-nav {
  .hamburger-line:nth-child(1) {
    transform: rotate(45deg) translate(5px, 2px);
  }

  .hamburger-line:nth-child(2) {
    transform: rotate(315deg);
  }

  .hamburger-line:nth-child(3) {
    transform: rotate(45deg) translate(-5px, -1px);
  }
}

.header {
  background-image: linear-gradient(
      rgb(0, 4, 8),
      rgba(0, 4, 8, 0.2),
      rgb(0, 4, 8)
    ),
    url("../Galery/Group\ 31.png");
  background-repeat: repeat;
  padding: 100px 30px 20px;
}

.kanan {
  width: 48%;
}

.kiri {
  width: 52%;
  max-width: 560px;
  display: flex;
  align-items: end;
  gap: 1.5rem;
  flex-direction: column;
}

.header .kanan h1 {
  font-size: 3rem;
  color: var(--dark-50);
  font-weight: 400;
}

.header .kanan b1 {
  font-weight: 800;
  color: var(--secondary-color);
}

.header .hbg .flex,
.flex3 {
  display: flex;
  justify-content: space-between;
}

.kanan h1 {
  padding-bottom: 1.5rem;
  font-weight: 900;
}

.ahmat a,
.bawah1 a {
  display: inline-block;
  padding: 0.8rem 1.5rem;
  width: fit-content;
  white-space: nowrap;
  background-color: var(--secondary-color);
  color: var(--primary-color);
  border-radius: 9999px;
  text-decoration: none;
  font-weight: 600;
  transition: all 0.2s ease-in;
}

.ahmat a span,
.bawah1 a span {
  transition: all 0.2s ease-in;
}
.ahmat a:hover,
.bawah1 a:hover {
  letter-spacing: 1px;
}
.ahmat a:hover span,
.bawah1 a:hover span {
  padding-left: 0.8rem;
}

.B img {
  width: 108px;
  padding-top: 40px;
}

.kiri .lutfi .ahhh {
  display: flex;
  justify-content: end;
  align-items: center;
}

.kiri .lutfi .ahhh img {
  width: 100%;
  justify-content: center;
  pointer-events: none;
  user-select: none;
}

.wayang1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  text-align: center;
  width: 100%;
  height: 215px;
}

.wayang .ar1 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  overflow: hidden;
}

.wayang1 .ar1 img {
  width: 100%;
  border-radius: 10px;
  text-align: center;
}

.wayang1 .ar1 p {
  display: inline-block;
  padding: 0.5rem 0;
  background-color: var(--secondary-color);
  color: var(--primary-color);
  border-radius: 0.5rem;
  width: 100%;
  font-weight: 500;
}
.margin-container {
  margin: 5rem 2rem 0 2rem;
}

/* konten dua */

.container-konten-dua {
  position: relative;
  margin: 4rem 0;
  width: 100%;
  min-height: 240px;
  overflow: hidden;
}

.konten-batik,
.konten-wayang {
  /* padding: 1rem; */
  position: absolute;
  top: 50%;
  left: 50%;

  display: flex;
  align-items: center;
  background-color: #e6e6e6;
  height: 60px;
  width: 110%;
  border: 1px solid #001f48;
  box-shadow: 0 4px 8px 0 rgba(0, 31, 72, 0.6);
}

.text-batik,
.text-wayang {
  display: flex;
  align-items: center;
  display: flex;
  align-items: center;
  gap: 1.5rem;
  text-transform: uppercase;
  font-size: 2rem;
  color: var(--primary-color) !important;
  font-weight: 500;
  white-space: nowrap;

  /* animation: movingtext 10s linear infinite; */
}
.konten-batik {
  transform: translate(-50%, -50%);
}

.konten-wayang {
  transform: translate(-50%, -50%);
}

.konten-wayang.show {
  transform: translate(-50%, -50%) rotate(-6deg);
  animation: batikTextComing 1s ease-in-out;
}

.konten-batik.show {
  transform: translate(-50%, -50%) rotate(6deg);
  animation: wayangTextComing 1s ease-in-out;
}

.text-batik img,
.text-wayang img {
  width: 42px;
  height: 42px;
  object-fit: contain;
}

@keyframes wayangTextComing {
  0% {
    transform: translate(-50%, 50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(6deg);
  }
}

@keyframes batikTextComing {
  0% {
    transform: translate(-50%, 50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(-6deg);
  }
}

.grid-container-1 {
  display: grid;
  grid-template-columns: repeat(
    8,
    1fr
  ); /* 6 kolom dengan ukuran yang berbeda */
  grid-template-rows: repeat(
    4,
    0.25fr
  ); /* 4 baris dengan ukuran fraksi yang sama */
  gap: 8px; /* Jarak antar elemen */
  max-width: 100vw; /* Maksimal lebar grid sesuai dengan lebar viewport */
  min-height: 480px;
  overflow: hidden; /* Mencegah overflow konten di luar grid */
}

.item {
  position: relative;
  background-color: var(--dark-50);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.8rem;
  overflow: hidden; /* Mencegah overflow konten di dalam item */
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.item img {
  max-width: 100%; /* Maksimal lebar gambar sesuai dengan kontainer */
  height: 100%; /* Menjaga rasio aspek gambar */
  display: block;
  object-fit: cover;
}
.item.wayang-9 img {
  object-position: top;
}
.search-bar {
  display: flex;
  font-size: 1.2rem;
  gap: 2rem;
  align-items: flex-start;
  padding: 1.2rem 1rem;
  grid-column: 1 / span 3;
  grid-row: 1 / span 2;
  font-weight: 600;
}

.item i {
  padding: 10px;
  font-size: 1rem;
  border: 1px solid var(--primary-color);
  border-radius: 999px;
}

.explore-photo img {
  cursor: pointer;
  transition: all 0.105s ease-in;
}

.explore-photo i {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 9999;
  transform: translate(-50%, -50%);
  border-color: var(--dark-50);
  opacity: 0%;
  transition: all 0.105s ease-in;
  cursor: pointer;
  color: var(--dark-50);
}

.explore-photo:hover img {
  filter: brightness(0.3);
}

.explore-photo:hover i {
  opacity: 100%;
}

.wayang-1 {
  grid-column: 1 / span 2;
  grid-row: 3 / span 2;
}

.wayang-2 {
  grid-column: 3 / span 1;
  grid-row: 3 / span 2;
}

.wayang-3 {
  grid-column: 4 / span 2;
  grid-row: 1 / span 3;
}

.wayang-4 {
  grid-column: 4 / span 2;
  grid-row: 4 / span 1;
}

.wayang-5 {
  grid-column: 6 / span 1;
  grid-row: 1 / span 1;
}

.wayang-6 {
  grid-column: 6 / span 1;
  grid-row: 2 / span 1;
}

.wayang-7 {
  grid-column: 6 / span 1;
  grid-row: 3 / span 2;
}

.wayang-8 {
  grid-column: 7 / span 2;
  grid-row: 1 / span 2;
}

.wayang-9 {
  grid-column: 7 / span 2;
  grid-row: 3 / span 2;
}

.wayang-1 img,
.search-bar,
.wayang-2 img,
.wayang-3 img,
.wayang-4 img,
.wayang-5 img,
.wayang-6 img,
.wayang-7 img,
.wayang-8 img,
.wayang-9 img {
  width: 100%;
}

/*gambar batik sekat sekat*/
.secmotifbatik {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.secmotifbatik h2 {
  text-align: center;
  color: var(--dark-50);
  font-size: 2rem;
  font-weight: 600;
  max-width: 560px;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(
    7,
    1fr
  ); /* Membuat 6 kolom dengan ukuran yang sama */
  gap: 10px; /* Jarak antara elemen */
}

.motif-batik {
  cursor: pointer;
  transition: all 0.3s ease; /* Efek transisi yang halus */
  width: 100%;
  height: 400px;
  overflow: hidden; /* Menghilangkan bagian yang melampaui ukuran */
  display: inline-block;
  border-radius: 10px;
  position: relative;
  filter: grayscale(100%);
}

.collapse-active {
  grid-column: span 2; /* Membuat elemen meluas menjadi 2 kolom saat hover */
  transform: scale(1); /* Memperbesar gambar sedikit */
  filter: grayscale(0);
}

.overlay {
  position: absolute;
  background-image: linear-gradient(rgba(0, 4, 8, 0), rgb(0, 4, 8));
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  opacity: 0%;
}

.motif-batik.collapse-active .overlay {
  opacity: 100%;
}

.motif-batik .descriptionmotif {
  position: absolute;
  color: var(--dark-50);
  bottom: 1.5rem;
  left: 0;
  padding: 0 12px;
  opacity: 0%;
  font-weight: 600;
  font-size: 1.2rem;
  z-index: 101;
}

.motif-batik .descriptionmotif p:nth-child(2) {
  font-size: 0.8rem;
  font-weight: 400;
  padding-top: 0.4rem;
}

.motif-batik.collapse-active .descriptionmotif {
  opacity: 100%;
}

.bawah1 {
  display: flex;
  gap: 3.5rem;
}
.bawah1 p {
  width: 50%;
  align-items: flex-start;
  color: var(--dark-50);
  font-size: 0.8rem;
  text-align: justify;
}

.bawah1 b,
.image-card .overlay2 b {
  content: "";
  border-bottom: 2px solid var(--dark-100);
  width: 80%;
  padding-right: 10px;
  display: block;
  margin: 2px auto;
}

.secfungyang {
  padding: 5rem 2rem 0 2rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.flex3 {
  color: var(--dark-50);
  gap: 2rem;
}

.flex3 p {
  width: 50%;
  font-size: 0.8rem;
}

.flex3 h2 {
  width: 50%;
  font-size: 2rem;
}

.container {
  display: flex;
  gap: 2rem;
  width: 100%;
}

.image-card {
  position: relative;
  width: 100%; /* Ukuran gambar, dapat diubah sesuai kebutuhan */
  overflow: hidden;
  border-radius: 8px;
  height: 360px;
  cursor: pointer;
}

.image-card img {
  width: 100%;
  height: 100%;
  display: block;
  transition: transform 0.3s ease;
  filter: brightness(1);
}

.image-card:hover img:not(.icon img) {
  transform: scale(1.1); /* Zoom-in efek saat di hover */
}

.overlay2 {
  position: absolute;
  padding: 2rem 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background: rgba(0, 0, 0, 0.5);
}

.image-card:hover {
  opacity: 1; /* Tampilkan overlay saat di hover */
}

.overlay2 h2 {
  color: var(--dark-50);
  font-size: 1rem;
  margin-bottom: 1rem;
  font-weight: 600;
}

.icon {
  width: 48px;
}

.icon img {
  width: 100%;
}

.seccat {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.judulcatway {
  display: flex;
  gap: 1rem;
  align-items: center;
  width: 100%;
}

.judulcatway h2 {
  color: var(--dark-50);
  font-size: 2rem;
  white-space: nowrap;
}

.judulcatway img {
  width: 72px;
}

.karakter {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  align-items: flex-start;
}

.kar1 {
  display: inline-block;
  vertical-align: bottom;
  border-radius: 10px;
  height: 100%;
  overflow: hidden;
  text-align: center;
  gap: 1.5rem;
  justify-content: end;
  align-items: end;
}

.batas-foto {
  display: flex;
  align-items: flex-end;
  overflow: hidden;
  width: 100%;
  min-height: 320px;
  border-radius: 10px;
}

.batas-foto img {
  width: 100%;
}

.spas {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  justify-content: space-between;
  text-align: justify;
  padding: 10px 0;
  color: var(--dark-50);
  font-size: 0.8rem;
  gap: 1rem;
}

.karakter .kar1 a,
.categori-card .kata a,
.content-story a {
  display: inline-block;
  padding: 0.6rem 1.5rem;
  width: fit-content;
  white-space: nowrap;
  border-radius: 9999px;
  text-decoration: none;
  font-weight: 600;
  background-color: var(--primary-color);
  border: 1px solid var(--dark-300);
  bottom: 10px;
  color: var(--dark-50);
}

.categori-card .kata {
  width: 100% !important;
}

.categori-card .kata a,
.content-story a {
  border-radius: 8px;
  width: 100%;
  bottom: 0;
  font-weight: 500;
}

.secfungbat {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 5rem 2rem 0 2rem;
}

.jdlfungsibatik {
  gap: 1rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.jdlfungsibatik h2 {
  text-align: center;
  font-size: 2rem;
  color: var(--dark-50);
}

.jdlfungsibatik p {
  text-align: center;
  color: var(--dark-50);
  font-size: 0.8rem;
  max-width: 540px;
}

.fungsi-batik {
  display: flex;
  justify-content: space-between;
  width: 100%;
  gap: 10px; /* Jarak antara elemen */
}

.card-fungsibatik {
  /* width: 300px; */
  height: 440px;
  width: 100%;
  overflow: hidden;
  align-items: center;
  flex: 1;
  justify-content: center;
  text-align: center;
  cursor: pointer;
}

.card2-fungsibatik {
  position: absolute;
  width: 100%;
}

.card-fungsibatik a {
  text-align: center;
  top: 50%;
  transform: translateY(-50%);
  padding: 0.6rem 2rem;
  background-color: var(--primary-color);
  border: 1px solid var(--dark-300);
  border-radius: 5rem;
  color: var(--dark-50);
  font-weight: 500;
  font-size: 1rem;
  transition: all 0.3s ease-in;
}

.card-fungsibatik:hover img {
  filter: brightness(0.5);
}

.card-fungsibatik:hover a {
  border: 1px solid var(--secondary-color);
  color: var(--secondary-color);
}

.card-fungsibatik .card2-fungsibatik img {
  height: 400px;
  width: 100%;
  object-fit: cover;
  border-radius: 8px;
  transition: all 0.3s ease-in;
}

.secgorbat {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.categori {
  display: flex;
  color: var(--dark-50);
  width: 100%;
  gap: 1rem;
}

.categori h3 {
  font-size: 2rem;
  white-space: nowrap;
}
.kosong {
  width: 100%;
  height: 1px;
  background-color: #f2f2f3;
}

.flex-categoribatik {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: flex-start;
  gap: 10px;
}

.categori-card {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

/* .categori-card .kata {
    width: 100%;
    padding: 7px;
    background-color: var(--primary-color);
    border-radius: 10px;
    border: 1px solid var(--dark-100);
}

.kata a{
    color: var(--dark-50);
    font-size: 0.8rem;
} */

.flex-categoribatik .categori-card img {
  height: 400px;
  width: 100%;
  border-radius: 8px;
  object-fit: cover;
  background-color: var(--bg-dark);
}

.flex-categoribatik .categori-card p {
  color: var(--dark-50);
  font-size: 0.8rem;
}

.sectributway {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.judultribut h2 {
  font-size: 2rem;
  color: var(--dark-50);
  max-width: 560px;
  text-align: center;
}
.judultribut p {
  font-size: 0.8rem;
  color: var(--dark-50);
  max-width: 560px;
  text-align: center;
}

.cardtribut {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 100%;
  gap: 16px;
}
.kentenartibut {
  width: 100%;
  position: relative;
  cursor: pointer;
}

.kentenartibut:hover .overlayatr,
.kentenartibut:hover .textribut {
  opacity: 100%;
}

.overlayatr {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-image: linear-gradient(rgba(0, 4, 8, 0), rgba(0, 4, 8, 0.8));
  z-index: 9;
  opacity: 0;
  transition: all 0.3s ease-in;
}

.kentenartibut img {
  width: 100%;
}

.textribut {
  position: absolute;
  padding: 0 10px;
  color: var(--dark-50);
  bottom: 24px;
  z-index: 10;
  opacity: 0;
  transition: all 0.3s ease-in;
}

.textribut p {
  font-size: 0.8rem;
  padding-top: 4px;
}

.footer {
  border-top: 1px solid var(--dark-50);
  padding: 20px 0;
}
.nav-footer {
  display: flex;
  justify-content: space-between;
  align-items: start;
}
.footer img {
  height: 24px;
}
.nav-foot-items {
  display: flex;
  width: 100%;
  max-width: 560px;
  text-align: center;
}
.nav-foot-items span {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.nav-foot-items a {
  padding: 10px;
  width: 100%;
  color: var(--dark-50);
  border-top: 1px solid var(--dark-50);
  border-bottom: 1px solid var(--dark-50);
}
.nav-foot-items span:nth-child(1) a {
  border-right: 0.5px solid var(--dark-50);
}
.nav-foot-items span:nth-child(2) a {
  border-left: 0.5px solid var(--dark-50);
}
.nav-foot-items a:hover {
  background-color: var(--primary-color);
}
.nav-foot-items span i {
  font-size: 2rem;
  color: var(--dark-50);
  opacity: 0;
}
.nav-foot-items span:hover i {
  opacity: 100%;
}
.copyright {
  padding-top: 8px;
  display: flex;
  justify-content: space-between;
  color: var(--dark-50);
}
.social-media {
  display: flex;
  gap: 1rem;
}
.social-media i {
  cursor: pointer;
}

.sectoryway {
  display: grid;
  color: var(--dark-50);
  grid-template-columns: 1fr 2fr;
  gap: 2rem;
  justify-items: end;
}

.textstoryway h2 {
  font-size: 2rem;
}

.textstoryway p {
  padding-top: 1rem;
  font-size: 0.8rem;
  text-align: justify;
}

.imgstoryway {
  display: flex;
  flex-direction: row;
  grid-row: span 2;
  width: 100%;
  max-width: 720px;
  overflow: hidden;
  min-width: 560px;
  cursor: grab;
}
.imgstoryway:active {
  cursor: grabbing;
}
.slider-content-story {
  display: flex;
  color: #000408;
  width: 100%;
  height: 100%;
  gap: 1rem;
}
.content-story {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 280px;
  height: 100%;
}

.content-story img {
  width: 100%;
  border-radius: 8px;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
@media (max-width: 768px) {
  * {
    font-size: 90%;
  }
  .navbar {
    background-color: var(--primary-color);
  }
  .navbar-logo img {
    height: 24px;
  }
  .navbar-icon {
    opacity: 100%;
    pointer-events: all;
  }
  .navbar-menu {
    display: flex;
    position: absolute;
    z-index: -1;
    top: 0;
    padding-top: 60px;
    align-items: flex-start;
    left: 0;
    width: 100%;
    height: 0;
    overflow: hidden;
    background-color: var(--primary-color);
    transition: all 0.3s ease-in;
  }
  .navbar-menu.active-nav {
    top: 0;
    height: 100vh;
  }
  .navbar-menu ul {
    padding-top: 20px;
    width: 100%;
    flex-direction: column;
    border-top: 1px solid var(--dark-50);
  }
  .wayang1 {
    height: auto;
  }
  .wayang1 .ar1 p {
    font-size: 0.8rem;
    margin-top: 6px;
  }
  .B img {
    width: 70px;
    padding-top: 20px;
  }
  a {
    font-size: 13px;
  }
  .text-batik img,
  .text-wayang img {
    width: 36px;
    height: 36px;
  }
  .container-konten-dua {
    margin: 1.5rem 0;
  }
  .margin-container {
    margin: 3rem 1.5rem 0 1.5rem;
  }
  .secfungbat,
  .secfungyang {
    padding: 5rem 1.5rem 0 1.5rem;
  }
  .grid-container-1 {
    min-height: 320px;
  }
  .search-bar {
    display: flex;
    font-size: 1rem;
    gap: 0.5rem;
    align-items: flex-start;
    padding: 1.2rem 1rem;
    grid-column: 1 / span 3;
    grid-row: 1 / span 2;
    font-weight: 600;
  }
  .secmotifbatik {
    gap: 1rem;
  }
  .motif-batik {
    height: 320px;
  }
  .motif-batik .descriptionmotif {
    bottom: 16px;
    left: 0;
    padding: 0 8px;
  }
  .bawah1 {
    gap: 2rem;
  }
  .bawah1 b,
  .image-card .overlay2 b {
    width: 25%;
  }
  .image-card {
    height: 240px;
  }
  .secfungyang {
    gap: 1rem;
  }
  .batas-foto {
    min-height: auto;
  }
  .batas-foto img {
    width: 100%;
    height: auto;
  }
  .card-fungsibatik .card2-fungsibatik img {
    width: 100%;
    height: 240px;
  }
  .card-fungsibatik {
    height: 240px;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  .jdlfungsibatik {
    gap: 4px;
  }
  .card-fungsibatik a {
    padding: 0.6rem 1rem;
    font-size: 0.8rem;
  }
  .flex-categoribatik .categori-card img,
  .karakter .kar1 img {
    height: 240px;
  }
  .imgstoryway {
    max-width: 420px;
    min-width: 0;
  }
}
@media (max-width: 450px) {
  * {
    font-size: 85%;
  }
  .header {
    padding: 80px 16px 20px;
  }
  .margin-container {
    margin: 4rem 16px 0;
  }
  .secfungbat,
  .secfungyang {
    padding: 5rem 16px 0 16px;
  }
  .header .hbg .flex {
    flex-direction: column;
    gap: 2rem;
  }
  .kanan,
  .kiri {
    width: 100%;
  }
  .header .kanan h1 {
    max-width: 100%;
    padding-bottom: 1rem;
  }
  .header .kanan h1 b1 {
    font-size: 3rem;
  }
  .B {
    display: none;
  }
  .container-konten-dua {
    min-height: fit-content;
  }

  .konten-batik {
    margin-top: 0.5rem;
    position: static;
    width: 100%;
    transform: rotate(0deg);
    height: 50px;
  }

  .konten-wayang {
    position: static;
    width: 100%;
    transform: rotate(0deg);
    height: 50px;
  }

  .konten-wayang.show {
    transform: rotate(0deg);
    animation: none;
  }

  .konten-batik.show {
    transform: rotate(0deg);
    animation: none;
  }
  .text-batik p,
  .text-wayang p {
    font-size: 2rem;
  }
  .text-batik img,
  .text-wayang img {
    width: 28px;
    height: 28px;
  }
  .judultribut p,
  .bawah1 P,
  .jdlfungsibatik p,
  .flex3 p,
  .textstoryway p {
    font-size: 1rem;
    width: 100%;
    text-align: justify;
    padding-top: 1rem;
  }
  /*grip fungtion*/
  .grid-container-1 {
    grid-template-columns: repeat(
      4,
      1fr
    ); /* 6 kolom dengan ukuran yang berbeda */
    grid-template-rows: repeat(
      10,
      0.25fr
    ); /* 4 baris dengan ukuran fraksi yang sama */
    gap: 8px; /* Jarak antar elemen */
  }
  .search-bar {
    grid-column: 1 / span 4;
    grid-row: 1 / span 2;
  }
  .search-bar h4 {
    font-size: 1.2rem;
  }
  .wayang-1 {
    grid-column: 1 / span 3;
    grid-row: 3 / span 2;
  }

  .wayang-2 {
    grid-column: 4 / span 1;
    grid-row: 3 / span 2;
  }

  .wayang-3 {
    grid-column: 1 / span 2;
    grid-row: 5 / span 2;
  }

  .wayang-4 {
    grid-column: 3 / span 2;
    grid-row: 5 / span 2;
  }

  .wayang-5 {
    grid-column: 1 / span 2;
    grid-row: 7 / span 2;
  }

  .wayang-6 {
    grid-column: 3 / span 2;
    grid-row: 7 / span 1;
  }

  .wayang-7 {
    grid-column: 3 / span 2;
    grid-row: 8 / span 1;
  }

  .wayang-8 {
    grid-column: 1 / span 2;
    grid-row: 9 / span 2;
  }

  .wayang-9 {
    grid-column: 3 / span 2;
    grid-row: 9 / span 2;
  }
  /*end*/
  /*grid conatiner*/
  .grid-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 90vw;
    gap: 10px;
  }
  .grid-container .motif-batik {
    height: 100px;
    width: 100%;
  }
  .grid-container .motif-batik.collapse-active {
    height: 200px;
  }

  .bawah1 {
    flex-direction: column;
  }
  .bawah1 p {
    width: 100%;
  }
  .bawah1 b {
    display: none;
  }
  .ahmat a,
  .bawah1 a,
  .ahmat a span,
  .bawah1 a span {
    font-size: 1rem;
  }

  /*end*/

  .container {
    display: flex;
    flex-direction: column;
  }
  .flex3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 0;
  }
  .flex3 h2,
  .flex3 p {
    width: 100%;
  }
  .flex-categoribatik,
  .karakter {
    overflow: scroll;
    width: 100%;
  }
  .flex-categoribatik::-webkit-scrollbar,
  .cardtribut::-webkit-scrollbar,
  .karakter::-webkit-scrollbar {
    display: none;
  }
  .flex-categoribatik .categori-card,
  .karakter .kar1 {
    min-width: 180px;
  }
  .flex-categoribatik .categori-card img,
  .karakter .kar1 img {
    width: 100%;
    height: 220px;
  }

  .karakter {
    justify-content: flex-start;
    align-items: flex-start;
    gap: 10px;
  }

  .fungsi-batik {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .judulcatway .kosong {
    display: none;
  }
  .judulcatway h2 {
    white-space: wrap;
  }
  .categori {
    width: 100%;
    gap: 16px;
  }
  .cardtribut {
    display: flex;
    overflow: hidden;
    overflow: scroll;
    justify-content: flex-start;
  }
  .kentenartibut {
    min-width: 220px;
    height: 180px;
  }
  .kentenartibut img {
    height: 100%;
    object-fit: fill;
  }
  .sectoryway {
    display: flex;
    flex-direction: column;
  }
  .nav-footer {
    flex-direction: column;
    gap: 1rem;
  }
  .copyright {
    flex-direction: column-reverse;
    font-size: 1.2rem;
    gap: 1rem;
  }
  .social-media i {
    font-size: 1.6rem;
  }
  /*font*/
  .card-fungsibatik a {
    white-space: nowrap;
  }
  .motif-batik .descriptionmotif {
    font-weight: 700;
  }
  .motif-batik .descriptionmotif p:nth-child(2) {
    font-size: 1rem;
  }
  .kata a {
    font-size: 1rem;
  }
  .flex-categoribatik .categori-card p {
    font-size: 1rem;
  }
  .karakter .kar1 .spas p {
    font-size: 1rem;
  }
  .textribut {
    bottom: 10px;
  }
  .textribut h4 {
    font-size: 1rem;
  }
  .textribut p {
    font-size: 1rem;
  }
}
